@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Niramit&display=swap');

:root {
    font-size: 12px;

    --main-width: 70rem;
    --home-img-size: 27rem;
    --standard-imge-size: 20rem;

    --default-color: #21B821;
    --default-background-color: #FFFFFFB3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Niramit', sans-serif;
    font-size: 1.5rem;
}

body {
    background-image: url(./img/bg-img.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}

header {
    width: 100%;
    text-align: center;
    background-color: var(--default-background-color);
    padding-bottom: 1.5rem;
}

header h1 {
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 9rem;
    font-weight: normal;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
    list-style: none;
}

header li {
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: solid 3px transparent;
    transition: 0.3s;
}
header li:hover {
    scale: 1.1;
}

.selected {
    border-bottom: solid 3px var(--default-color);
}

main {
    width: var(--main-width);
    border-radius: 2rem;
    padding: 5rem;
    background-color: var(--default-background-color);
}

.home, .menu, .contact {
    animation: reveal 1s;
}

.home {
    text-align: center;
}

.home img {
    width: var(--home-img-size);
    height: var(--home-img-size);
    object-fit: cover;
    margin: 3rem 0;
    border-radius: 50%;
    opacity: 0.9;
}

.hours h3 {
    width: 30%;
    padding-bottom: 1rem;
    margin: 0 auto 1rem;
    border-bottom: solid 3px var(--default-color);
}

.menu > div,
.contact > div {
    display: flex;
    align-items: center;
}

.menu > div > div,
.contact > div > div {
    height: fit-content;
    padding: 1rem;
}

.menu h3 {
    margin-bottom: 1rem;
}

.menu img,
.contact img {
    flex-shrink: 0;
    width: var(--standard-imge-size);
    height: var(--standard-imge-size);
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.9;
}

.contact h2 {
    width: fit-content;
    margin: auto;
    padding: 0 2rem 1rem;
    border-bottom: solid 3px var(--default-color);
}

.contact > div {
    width: 42rem;
    justify-content: space-between;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #EFFFEF;
    border-radius: 3rem;
}

.contact img {
    border-radius: 3rem;
}

.contact > h3 {
    text-align: center;
    margin-bottom: 3rem;
}

.contact > img {
    width: auto;
    display: block;
    margin: auto;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--default-background-color);
}

footer a {
    text-decoration: none;
    color: #000000;
}
footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 2rem;
    transition: 0.5s cubic-bezier(0.39, -0.575, 0.565, 1);
}
footer img:hover {
    transform: rotate(360deg);
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}